h1{
    color: black;
    padding: 30px;
    text-align: center;
    /* background-color: brown; */
    border: 2px solid black;
}
h2{
    color: green;
    background-color: yellow;
    border: 2px solid black;
    text-align:center
}